    body {
        text-align: center;
    }

    .boundary {
        border: 2px solid black;
        border-radius: 30px;
        width: 60%;
        height: 60%;
        margin-left: 20%;
        margin-top: 5%;
        padding: 2%;
    }

    #petImage {
        height: 50%;
        width: 50%;
    }

    .heading, #message {
        font-size: 40px;
        color: darkgreen;
        margin-top: 20px;
        font-family: cursive, sans-serif;
    }
        
    .petImageChangeButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        background-color: white; /* White */
        color: orange;
    }
        
    .petButton {
        margin: 20px;
        width: 90px;
        padding: 10px;
        background-color: black; 
        color: white; 
        border-radius: 42px;
    }
        
    .petButton:hover {
        width: 90px;
        background-color: #4CAF50;
        color: white;
    }

    @media only screen and (max-device-width: 480px) {
        .boundary {
            height: 80%;
            width: 80%;
            margin-left: 8%;
        }
        .petImageChangeButton {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            background-color: white;
            color: orange;
        }

        .heading, #message {
            font-size: 20px;
        }

        .petButton {
            width: 120px;
        }  

        .petButton:hover {
            width: 120px;
            background-color: #4CAF50;
            color: white;
        }
    }
